{% extends 'global/base.html' %}

{% block content %}
<div class="reset">
  <div class="password-reset">
    <h2 class="password-reset-title">Definir nova senha</h2>

    <form class="password-reset-form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group {%if field.errors%}has-error{%endif%}">
          <label for="{{field.id_for_label}}">{{field.label}}</label>
          {{field}}
          {% if field.errors %}
             {% for error in field.errors %}
              <span class="field-error">{{error}}</span>
             {% endfor %} 
          {% endif %}
        </div>      
      {% endfor %}
      <!--{{ form.as_p }}-->
      <button class="password-reset-make" type="submit">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}
