{% extends 'global/base.html' %}

{% block content %}
<div class="reset">
  <div class="password-reset">
    <h2 class="password-reset-title">Esqueceu sua senha?</h2>

    <p class="password-reset-info">Digite seu endereço de email abaixo e enviaremos um link para redefinir sua senha.</p>

    <form class="password-reset-form" method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}
      <button class="password-reset-make" type="submit">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}
