{% extends 'global/base.html' %}

{% block content %}
  <div class="auth-container">
    <div class="auth-card">
      <h2>Cadastro</h2>
      <form method="post" action="{% url 'cadastro_login:cadastro' %}">
        {% csrf_token %}
        {% include 'cadastro_de_usuarios/partials/_user_form.html'%}
        <button type="submit">Enviar</button>
      </form>
      <div>
        <p>
          Já tem cadastro?
          <a href="{% url 'cadastro_login:loginuser' %}{% if request.GET.next %}
              ?next={{ request.GET.next }}
            {% endif %}">
            Clique aqui
          </a>
        </p>
      </div>
      {% url 'cadastro_login:index' as url_home %}
      <button style="margin-top: 20px; text-align: center; border: none; background-color: white;" type="button" onclick="window.location.href='{{ request.GET.next|default:request.META.HTTP_REFERER|default:url_home }}'">Voltar</button>
    </div>
  </div>
{% endblock %}
