{% extends 'global/base.html' %}

{% block content %}
  <!-- Adicionado a classe auth-container -->
  <div class="auth-container">
    <!-- Adicionado a classe auth-card -->
    <div class="auth-card">
      <h2>Login</h2>

      {% if user.is_authenticated %}
        <p>
          Bem vindo {{ user.name }}<br>
          Clique <a href="cadastro_login:logoutuser">aqui</a> para sair
        </p>
      {% else %}
        {% include 'cadastro_de_usuarios/partials/_user_form.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
