{% extends 'global/base.html' %}

{% block content %}
  <!-- Adicionado a classe auth-container -->
  <div class="auth-container">
    <!-- Adicionado a classe auth-card -->
    <div class="auth-card">
      <h2>Login</h2>

      {% if user.is_authenticated %}
        <p>
          Bem vindo {{ user.get_full_name|default:user.username }}<br>
          Clique <a href="{% url 'cadastro_login:logoutuser' %}">aqui</a> para sair
        </p>
      {% else %}
        {% include 'cadastro_de_usuarios/partials/_user_form.html' %}
        <div>
          <p>
            Não tem cadastro?
            <a href="{% url 'cadastro_login:cadastro' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Clique aqui</a>
          </p>
        </div>
        {% url "cadastro_login:index" as url_home %}
        <button style="margin-top: 20px; text-align: center; border: none; background-color: white;" type="button" onclick="window.location.href='{{ request.GET.next|default:request.META.HTTP_REFERER|default:url_home }}'">Voltar</button>
      {% endif %}
    </div>
  </div>
{% endblock %}
