{% extends "global/base.html" %}
{% block content %}
<section class="institucional">
  <div class="institucional-container">
    <h1 class="institucional-title">Política de Privacidade</h1>

    <p class="institucional-info">A sua privacidade é importante para nós. Esta política descreve como coletamos, usamos e protegemos seus dados.</p>

    <h2 class="institucional-title">Coleta de informações</h2>
    <p class="institucional-info">Coletamos dados pessoais fornecidos pelo cliente, como nome, CPF, endereço, email e telefone, para processamento de pedidos e entrega.</p>

    <h2 class="institucional-title">Uso das informações</h2>
    <ul class="institucional-list">
      <li class="institucional-info">Processar pedidos</li>
      <li class="institucional-info">Realizar entregas</li>
      <li class="institucional-info">Enviar atualizações sobre o pedido</li>
      <li class="institucional-info">Melhorar a experiência do usuário</li>
    </ul>

    <h2 class="institucional-title">Compartilhamento de dados</h2>
    <p class="institucional-info">Seus dados podem ser compartilhados com meios de pagamento, transportadoras e plataformas antifraude.</p>

    <h2 class="institucional-title" >Cookies</h2>
    <p class="institucional-info">Utilizamos cookies para melhorar a navegação e personalizar conteúdos.</p>

    <h2 class="institucional-title">Seus direitos</h2>
    <p class="institucional-info">Você pode solicitar a alteração ou exclusão dos seus dados a qualquer momento pelo email: suporte@luviahome.com.br</p>

    <h2 class="institucional-title">Segurança</h2>
    <p class="institucional-info">Adotamos medidas técnicas e organizacionais para proteger seus dados.</p>

    <h2 class="institucional-title">Controlador dos dados</h2>
    <p class="institucional-info">Razão Social – CNPJ 66.408.834/0001-49</p>
  </div>
</section>
{% endblock %}