{% extends "global/base.html" %}
{% block content %}
<section class="institucional">
  <div class="institucional-container">
    <h1 class="institucional-title">Política de Trocas e Devoluções</h1>

    <h2 class="institucional-title">Direito de arrependimento</h2>
    <p class="institucional-info">Conforme o Código de Defesa do Consumidor, o cliente pode solicitar a devolução em até 7 dias corridos após o recebimento.</p>

    <h2 class="institucional-title">Condições para troca</h2>
    <ul class="institucional-list">
      <li class="institucional-info">Produto sem sinais de uso</li>
      <li class="institucional-info">Na embalagem original</li>
      <li class="institucional-info">Com todos os acessórios</li>
    </ul>

    <h2 class="institucional-title">Produto com defeito</h2>
    <p class="institucional-info">O prazo para solicitação é de até 30 dias após o recebimento.</p>

    <h2 class="institucional-title">Reembolso</h2>
    <p class="institucional-info">O reembolso será realizado conforme a forma de pagamento.</p>

    <h2 class="institucional-title">Frete</h2>
    <p class="institucional-info">Em casos de devolução por arrependimento dentro do prazo legal, o custo do frete será de responsabilidade da loja.</p>

    <h2 class="institucional-title">Contato</h2>
    <p class="institucional-info">Email: trocas@sualoja.com</p>
  </div>
</section>
{% endblock %}