{% load static %}
<header class="header">

    <div class="header-container">

        <!-- Logo + título -->
        <a href="/" class="header-logo">
            <img src="{% static 'global/img/OIP.jpeg' %}"alt="Logo" style="height:40px;">
        </a>

        <!-- Menu -->
        <nav class="header-nav">
            <ul class="header-menu">

                <li class="header-item">
                    <a href="#">Ofertas do dia</a>
                </li>

                <li class="header-item">
                    <a href="#">Perfumes</a>
                </li>

                <li class="header-item">
                    <a href="#">Sabonetes</a>
                </li>

                <li class="header-item">
                    <a href="#">Produtos de limpeza</a>
                </li>

            </ul>
        </nav>

        <!-- Hambúrguer (mobile) -->
        <div class="hamburger" onclick="document.querySelector('.header-menu').classList.toggle('active')">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

</header>
