{% load static %}
{% if is_index%}
<header class="header">

    <div class="header-container">

        <!-- Logo + título -->
        <a href="/" class="header-logo">
            <img src="{% static 'global/img/OIP.jpeg' %}"alt="Logo" style="height:40px;">
        </a>

        <!-- Menu -->
        <nav class="header-nav">
            <ul class="header-menu">

                <li class="header-item">
                    <a href="#ofertas-do-dia">Ofertas do dia</a>
                </li>

                <li class="header-item">
                    <a href="#perfumes">Perfumes</a>
                </li>

                <li class="header-item">
                    <a href="#sabonetes">Sabonetes</a>
                </li>

                <li class="header-item">
                    <a href="#produtos-de-limpeza">Produtos de limpeza</a>
                </li>
               
                <li class="header-item">
                    <a href="{% url 'carrinho:carrinho' %}">Carrinho</a>
                </li>
                
                <li class="header-item">
                    <a href="#">Faça seu login ou se cadastre</a>
                </li>

            </ul>
        </nav>

        <!-- Hambúrguer (mobile) -->
        <div class="hamburger" onclick="document.querySelector('.header-menu').classList.toggle('active')">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

</header>
{% else %}
<header class="header">
    <div class="header-container">
        <a>
            <img src="{% static 'global/img/OIP.jpeg' %}"alt="Logo" style="height:40px;">
        </a>
    </div>
</header>
{% endif %}
