{% load static %}
{% if is_index%}
<header class="header">

    <div class="header-container">

        <!-- Logo + título -->
        <a href="/" class="header-logo">
            <img src="{% static 'global/img/logo.png' %}" alt="Logo" style="height:40px;">
        </a>

        <!-- Menu -->
        <nav class="header-nav">
            <!-- Hambúrguer (mobile) -->
            <div id="hamburger" class="hamburger" >
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="header-menu">

                {% if not user.is_authenticated %}

                <li class="header-item">
                    <a href="{% url 'carrinho:carrinho' %}">Carrinho</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'cadastro_login:loginuser' %}">Faça seu login</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'cadastro_login:cadastro' %}">Cadastro</a>
                </li>


                {% else %}

                <li class="header-item">
                    <a href="{% url 'pagamentos:meus_pedidos' %}">Meus Pedidos</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'carrinho:carrinho' %}">Carrinho</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'cadastro_login:listarend' %}">Endereço</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'cadastro_login:cadastro' %}">Minhas informações</a>
                </li>

                <li class="header-item">
                    <a href="{% url 'cadastro_login:loginuser'  %}">Logout</a>
                </li>

                {% endif %}
            </ul>
        </nav>


    </div>

</header>
{% else %}
<header class="header">
    <div class="header-container">
        <a>
            <img src="{% static 'global/img/logo.png' %}" alt="Logo" style="height:40px;">
        </a>
    </div>
</header>
{% endif %}