{% extends "global/base.html" %}

{%block content%}
{% load static %}
<section class="hero">
    <div class="hero-inner ">
        <div class="hero-left">
            <div class="main-content">
                <h2 class="sobretitulo">
                    Titulo Generico
                </h2>
                <div class="descricao">
                    A Shopify é muito mais do que um criador de sites: ela ajuda você a vender seus produtos,
                    reduzir os custos e poupar tempo. Comece sem pagar nada e depois aproveite 3 meses por US$
                    1/mês.
                </div>
                <div>
                    <button type="button">
                        Se cadastre e começe a comprar.
                    </button>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <div class="hero-image">
                <img src="{% static 'global/img/perfumes.jpeg' %}" alt="Produtos em destaque">
            </div>
        </div>
    </div>
</section>

<section class="ofertas">
    <div class="ofertas-container">
        {% for produto in ofertas_do_dia %}
        {% if produtos %}
        <div class="oferta-card">

            <picture class="oferta-img">
                <img src="" alt="{{produto.nome}}">
            </picture>


            <div class="oferta-info">
                <h2 class="oferta-nome">
                    <a href="#">{{produto.nome}}</a>
                </h2>
                <div class="oferta-preco">
                    <a href="#">R$ {{ produto.preco }}</a>
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{%endblock content%}