{% extends "global/base.html" %}

{%block content%}
{% load static %}
<section class="hero">
    <div class="hero-inner ">
        <div class="hero-left">
            <div class="main-content">
                <h2 class="sobretitulo">
                    Titulo Generico
                </h2>
                <div class="descricao">
                    A Shopify é muito mais do que um criador de sites: ela ajuda você a vender seus produtos,
                    reduzir os custos e poupar tempo. Comece sem pagar nada e depois aproveite 3 meses por US$
                    1/mês.
                </div>
                <div>
                    <button type="button">
                        Se cadastre e começe a comprar.
                    </button>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <div class="hero-image">
                <img src="{% static 'global/img/perfumes.jpeg' %}" alt="Produtos em destaque">
            </div>
        </div>
    </div>
</section>

<section id="ofertas-do-dia" class="ofertas">

    <div class="oferta-secao">
        
        <h2 class="ofertas-titulo">
            Ofertas do Dia
        </h2>

        {% if ofertas_do_dia %}

        <button class="seta seta-esquerda" id="btnoferta">‹</button>
        <button class="seta seta-direita" id="btnnextoferta">›</button>
    
        <div class="ofertas-container" id="carrosselOfertas">
        
            {% for produto in ofertas_do_dia %}
            <div class="oferta-card" >

                <picture class="oferta-img">
                    <a href="{%url 'produtos:produto' produto.id %}"><img  alt="{{ produto.name }}"></a>
                </picture>

                <div class="oferta-info">
                    <h2 class="oferta-nome">
                        <a href="{%url 'produtos:produto' produto.id %}">{{ produto.name }}</a>
                    </h2>
                    <div class="oferta-preco">
                        <a href="#">R$ {{ produto.preco }}</a>
                    </div>
                    <div class="oferta-descricao">
                        <a href="#">{{ produto.descricao }}</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="sem-ofertas">
            <p>Nenhuma oferta disponível hoje.</p>
        </div>
        {% endif %}
    </div>

</section>

<section id="perfumes" class="secao-perfumes">

    <div class="perfumes-container">
        
        <h2 class="perfumes-titulo">Perfumes</h2>

        <button class="seta seta-esquerda" id="btnPrev">‹</button>
        <button class="seta seta-direita" id="btnNext">›</button>

        <ul class="perfumes-lista" id="carrosselPerfumes">

            {% for produto in perfumes %}
            <li class="perfume-item">

                <div class="perfume-img">
                    <a href="{%url 'produtos:produto' produto.id %}"><img  alt="{{ produto.name }}"></a>
                </div>

                <div class="perfume-info">
                    <h3 class="perfume-nome">
                        <a href="{%url 'produtos:produto' produto.id %}">{{ produto.name }}</a>
                    </h3>
                    <div class="perfume-preco">
                        <a href="#">R$ {{ produto.preco }}</a>
                    </div>
                    <div class="perfume-desc">
                        <a href="#">{{ produto.descricao }}</a>
                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>

    </div>

</section>

<section id="sabonetes" class="secao-sabonetes">

    <div class="sabonetes-container">
        
        <h2 class="sabonetes-titulo">Sabonetes</h2>

        <button class="seta seta-esquerda" id="btnPrevSab">‹</button>
        <button class="seta seta-direita" id="btnNextSab">›</button>

        <ul class="sabonetes-lista" id="carrosselsabonetes">

            {% for produto in sabonetes %}
            <li class="sabonete-item">

                <div class="sabonete-img">
                    <a href="{%url 'produtos:produto' produto.id %}"><img  alt="{{ produto.name }}"></a>
                </div>

                <div class="sabonete-info">
                    <h3 class="sabonete-nome">
                        <a href='{% url "produtos:produto" produto.id %}'>{{ produto.name }}</a>
                    </h3>
                    <div class="sabonete-preco">
                        <a href="#">R$ {{ produto.preco }}</a>
                    </div>
                    <div class="sabonete-desc">
                        <a href="#">{{ produto.descricao }}</a>
                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>

    </div>

</section>


<section id="produtos-de-limpeza" class="secao-produtos-de-limpeza">

    <div class="prdutos-de-limpeza-container">
        
        <h2 class="produtos-de-limpeza-titulo">Produtos de Limpeza</h2>

        <button class="seta seta-esquerda" id="btnPrevLim">‹</button>
        <button class="seta seta-direita" id="btnNextLim">›</button>

        <ul class="produtos-de-limpeza-lista" id="carrosselprodutosdelimpeza">

            {% for produto in produto_de_limpeza %}
            <li class="produto-de-limpeza-item">

                <div class="produto-de-limpeza-img">
                    <a href="{%url 'produtos:produto' produto.id %}"><img  alt="{{ produto.name }}"></a>
                </div>

                <div class="produto-de-limpeza-info">
                    <h3 class="produto-de-limpeza-nome">
                        <a href="{%url 'produtos:produto' produto.id %}">{{ produto.name }}</a>
                    </h3>
                    <div class="produto-de-limpeza-preco">
                        <a href="#">R$ {{ produto.preco }}</a>
                    </div>
                    <div class="produto-de-limpeza-desc">
                        <a href="#">{{ produto.descricao }}</a>
                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>

    </div>

</section>

{%endblock content%}