<form method="POST">
  {% csrf_token %}
  <div>
    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
          <p>{{ field.help_text }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if form.non_field_errors %}
    <div>
      <div>
        <div>{{ form.non_field_errors }}</div>
      </div>
    </div>
  {% endif %}

  <div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </div>
</form>
