{% if form_cadastro.errors %}
    <div class="alert alert-danger">
        <p>Corrija os erros abaixo:</p>
    </div>
{% endif %}

{% for field in form_cadastro%}
  <div>
    <label>{{ field.label }}</label>
    {{ field }}
    {{ field.errors }}
    {% if field.help_text %}
      <p>{{ field.help_text }}</p>
    {% endif %}
  </div>
{% endfor %}

{% for field in perfil_cadastro%}
  <div>
    <label>{{ field.label }}</label>
    {{ field }}
    {{ field.errors }}
    {% if field.help_text %}
      <p>{{ field.help_text }}</p>
    {% endif %}
  </div>
{% endfor %}

{% if form.non_field_errors %}
  <div>
    {{ form.non_field_errors }}
  </div>
{% endif %}
